*env

packages/*

*__pycache__*
*.pyc


src/object_detection_mania/artifacts/yolo_v2_artifacts/synthetic/configs

*.png
*.jpg
*.jpeg
*.txt


# the road sign competition dataset
road_sign/data/*
road_sign/artifacts/*